{% extends "base.html" %}

<!-- main content -->
{% block content %}
<div class="justify-content-center" style="margin-left: 15%; margin-right: 15%">
  <!-- search -->
  {% include 'lolvs/search.html' %}

  <div>{% include 'lolvs/masters.html' %}</div>
</div>
{% endblock content %}

<!-- JS -->
{% block script %}
<!-- jquery -->
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"
></script>
{% endblock script %}
