<div class="justify-content-center py-3 mb-3 mx-5">
  <div class="d-flex align-items-center">
    <!-- vs search form -->
    <!--<form class="w-100 me-3" action="{% url 'search' %}" method="POST">-->
    <form class="w-100 me-3" action="#" method="POST">
      {% csrf_token %}
      <div class="d-flex px-5 mx-5">
        <!-- my champ -->
        <div class="input-group mx-2">
          <span class="input-group-text">내 챔피언</span>
          <input
            type="text"
            name="myChampion"
            aria-label="my champion"
            class="form-control"
            size="50"
          />
        </div>
        <span class="text py-1">VS</span>
        <!-- enemy champ -->
        <div class="input-group mx-2">
          <span class="input-group-text">적 챔피언</span>
          <input
            type="text"
            name="enemyChampion"
            aria-label="enemy champion"
            class="form-control"
            size="50"
          />
          <button class="btn btn-primary" type="submit" id="button-addon2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="d-flex container justify-content-center pt-3 vstip">
    <a
      href="#"
      class="d-none d-sm-inline btn btn-md ml-4 btn-primary shadow-sm"
    >
      <i class="fas fa-sm text-white-50"></i>VS Tip
    </a>
  </div>
</div>
