{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>lolvs</title>
  </head>
  <body>
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <input
          type="text"
          id="myChampion"
          class="form-control"
          placeholder="my champion"
        />
      </div>
      <span class="text d-none d-sm-inline">vs</span>

      <div class="col-auto">
        <input
          type="text"
          id="enemyChampion"
          class="form-control"
          placeholder="enemy champion"
        />
      </div>
      <div class="col-auto">
        <div class="vs_tip">
          <!-- Topbar vstip -->
          <a
            href="#"
            class="d-none d-sm-inline btn btn-md ml-4 btn-primary shadow-sm"
            ><i class="fas fa-sm text-white-50"></i>VS Tip</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
