{% load static %}
<!DOCTYPE html>
<html>
  {% include 'head.html' %}
  </head>

  <body>
    <!-- header -->
    {% include 'base_header.html' %}

    <!-- main content -->
    {% block content %} {% endblock %}

    <!-- footer -->
    {% include 'base_footer.html' %}

    <!-- JS -->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    {% block script %} {% endblock %}
    
  </body>
</html>
